@import '../../styles/all';

.sidebarWrapper {
  height: 100%;
  width: 178px;
  position: absolute;
  top: 0;
  background-color: white;
  padding: $largeMargin;
}

.logo {
  max-width: 100%;
}

.linksWrapper {
  margin-top: 65px;

  .sidebarLink {
    font-weight: bold;
    color: $lightText;
    position: relative;
    display: block;
    margin-bottom: 35px;
    font-size: 14px;

    &:before {
      content: '';
      width: 6px;
      height: 30px;
      border-radius: 3px;
      background-color: $lightText;
      position: absolute;
      left: -27px;
    }

    &:hover {
      text-decoration: none;
    }

    &.active {
      color: $darkText;

      &::before {
        background-color: $darkText;
      }
    }

    .linkName {
      margin-left: $mediumMargin;
      display: inline;
    }
  }
}
