@import '../../styles/all';

.sidebarWrapper {
  height: 100px;
  width: 100%;
  background-color: white;
  padding: $largeMargin;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-height: 100%;
}

.linksWrapper {
  display: flex;

  .sidebarLink {
    font-weight: bold;
    color: $lightText;
    position: relative;
    display: block;
    font-size: 14px;
    margin-right: $largeMargin;

    &:hover {
      text-decoration: none;
    }

    &.active {
      color: $darkText;

      &::before {
        background-color: $darkText;
      }
    }

    .linkName {
      margin-left: $smallMargin;
      display: inline;
    }
  }
}
