@import '../../../styles/all';

.entryWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: $smallMargin 0;
  padding: 0 $largeMargin;
  width: 100%;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: $backgroundGray;
  }
}

.index {
  font-size: 20px;
  color: $lightText;
  font-weight: bold;
  margin: 3px 0;
}

.text {
  display: flex;

  .queryWrapper {
    margin-left: $smallMargin;
    text-align: left;

    .queryAndMetric {
      display: flex;
      .query {
        font-size: 20px;
        display: inline-block;
      }
      .metric {
        font-size: 14px;
        font-weight: bold;
        color: $lightText;
        display: flex;
        margin-left: $mediumMargin;

        .diffPercentage {
          margin-left: $smallMargin;
        }
      }
    }

    .words {
      font-size: 14px;
      padding-right: $mediumMargin;
    }
  }
}

.image {
  object-fit: cover;
  width: 86px;
  height: 86px;
  border-radius: $borderRadiusSmall;
}
