flask
redis
sqlalchemy
flask_sqlalchemy
python-decouple
flask-cors
numpy
pandas
scikit-learn
psycopg2-binary
flask-inputs
jsonschema
statsmodels
joblib
pmdarima
flask-caching
requests
simplejson
darts